.dashboardMain
{
    *{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}

html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}


.SideNav{
    width: 100px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s;
    background-color: #2C2C2C;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &:hover{
        width: 300px;

        .CompanyLogo{
            width: 100%;
        }

        ul li p{
            display: block;
        }

        ul li:hover{
            background-color: #808080;
        } 
    }
}

.DashboardContent.sideNavHovered {
    left: 300px;
    width: calc(100% - 300px);

    .TodayVisits,
    .WeeklyVisits,
    .TotalVisits {
        margin-left: 225px;
        margin-right: 75px;
    }

    .Graphs {
        margin-left: 215px;
    }

    .EmployeeList {
        margin-right: 175px;
    }
}


.CompanyLogo{
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 20px;
    padding: 10px 10px;
    border-bottom: 1px solid white;
    overflow: hidden;

    .icon{
        width: 70px;
        height: 70px;
    }
}


.CompanyLogo h3{
    color: white;
    margin-left: 30px;
}

ul{
    list-style: none;
    padding: 0 15px;

    li{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 15px;
        margin: 40px 0;
        cursor: pointer;

        img{
            width: 30px;
            height: 30px;
            margin-right: 20px;
        }

        p{
            color: #9E9E9E;
            font-weight: 600;
            font-size: 20px;
            white-space: nowrap;
            display: none;
        }
    }
}

.LogOut{
    margin-top: auto;
}


.DashboardContent{
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 75px; 
    transition: left 0.3s, width 0.3s;
    background-color: white;
    overflow-x: hidden;

    h1{
        margin-top: 20px;
        color: black;
        margin-left: 80px;
        font-weight: 900;
        font-size: 50px;
    }
    
    
    .dashboard-container {
        width: 100vw;
        height: 100vh;
        overflow-x: auto; 
        display: flex;
        flex-direction: column;

        .small-container {
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 40px;
            
        }
        .TodayVisits, .WeeklyVisits, .TotalVisits {
            width: 25vw;
            height: 22vh;
            padding: 20px;
            margin: 10px;
            background-color: white;
            border: 1px solid black;
            border-radius: 10px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.48); 
            display: flex;
            flex-direction: column;
            color: #0A0505;
            font-family: "Inter", sans-serif;
            gap: 30px;

            .h2{
                font-size: 45px;
                font-weight: 600;
            }
            .numberOfVisitorsHeader{
                display: flex;
                flex-direction: row;
                font-size: 50px;
                font-weight: 700;
                justify-content: space-between;

                img{
                    width: 4vw;
                    height: 7vh;
                }
            }
        }
        
        .TodayVisits{
            margin-left: 125px;
        }
        
        .TotalVisits{
            margin-right: 125px;
        }
    }
    
    .DashboardInsights{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .Graphs{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
            margin-left: 115px;

            .WeeklyVisitsGraph, .MonthlyVisitsGraph{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                min-width: 45vw;
                min-height: 40vh;
                padding: 20px;
                margin: 10px;
                margin-bottom: 30px;
                background-color: white;
                border: 1px solid black;
                border-radius: 10px;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.48); 
            }
            
        }
        
        .EmployeeList{
            width: 40vw;
            height: 50vh;
            padding: 20px;
            margin: 10px;
            background-color: white;
            border: 1px solid black;
            border-radius: 10px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.48); 
            margin-right: auto;
            .h2{
                font-size: 45px;
                font-weight: 600;
            }
        }
    }
}
}